@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&family=Phudu:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: url(images/background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;

  font-family: 'Phudu', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
}

a.active {
  background-color: rgba(139, 73, 170, 0.4);

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  font-family: 'Golos Text', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-block-start: 0;
  margin-block-end: 0;
}

button {
  font-family: inherit;
  display: block;
  cursor: pointer;
}

address {
  font-style: normal;
}

input,
textarea {
  cursor: pointer;
}
